// Import font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);

// Import bootstrap and fontawesome
@import "variables";
@import "bootstrap";
@import "font-awesome";

// Modules
@import "modules/animations";
@import "modules/grid";
@import "modules/helpers";

// Components
@import "components/teasers";

.swatch-primary{
	background: $brand-primary;
}
.swatch-secondary{
	background: $brand-primary;
}
.swatch-tertiary{
	background: $brand-tertiary;
}
.swatch-success{
	background: $brand-success;
}
.swatch-info{
	background: $brand-info;
}
.swatch-warning{
	background: $brand-warning;
}
.swatch-danger{
	background: $brand-danger;
}